
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Outputs
# In plaats van alles:
# *.xlsx
# Specifieke outputlocaties
/out.xlsx
/output/*.xlsx
*.json
*.log

# Whitelist JSON die we wél willen tracken
!governance/*.json
!utils/patterns_shell.json
