
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Outputs
*.xlsx
*.json
*.log
out.xlsx
examples/*.xlsx


# Whitelist JSON die we wél willen tracken
!governance/*.json
!utils/patterns_shell.json
